In [8]:
import pandas as pd 
from scipy.stats import skew
from scipy.stats import kurtosis

In [2]:
df=pd.read_csv("D:\\DS Assignment\\Basic_stats_1\\Q9_a.csv")
df

    Index  speed  dist
0       1      4     2
1       2      4    10
2       3      7     4
3       4      7    22
4       5      8    16
5       6      9    10
6       7     10    18
7       8     10    26
8       9     10    34
9      10     11    17
10     11     11    28
11     12     12    14
12     13     12    20
13     14     12    24
14     15     12    28
15     16     13    26
16     17     13    34
17     18     13    34
18     19     13    46
19     20     14    26
20     21     14    36
21     22     14    60
22     23     14    80
23     24     15    20
24     25     15    26
25     26     15    54
26     27     16    32
27     28     16    40
28     29     17    32
29     30     17    40
30     31     17    50
31     32     18    42
32     33     18    56
33     34     18    76
34     35     18    84
35     36     19    36
36     37     19    46
37     38     19    68
38     39     20    32
39     40     20    48
40     41     20    52
41     42     20    56
42     43     20    64
43     44     22    66
44     45     23    54
45     46     24    70
46     47     24    92
47     48     24    93
48     49     24   120
49     50     25    85

In [5]:
skew(df.speed)

-0.11395477012828319

In [6]:
skew(df.dist)

0.7824835173114966

In [9]:
kurtosis(df.speed)

-0.5771474239437371

In [10]:
kurtosis(df.dist)

0.24801865717051808

In [11]:
df=pd.read_csv("D:\\DS Assignment\\Basic_stats_1\\Q9_b.csv")
df

    Unnamed: 0          SP         WT
0            1  104.185353  28.762059
1            2  105.461264  30.466833
2            3  105.461264  30.193597
3            4  113.461264  30.632114
4            5  104.461264  29.889149
..         ...         ...        ...
76          77  169.598513  16.132947
77          78  150.576579  37.923113
78          79  151.598513  15.769625
79          80  167.944460  39.423099
80          81  139.840817  34.948615

[81 rows x 3 columns]

In [12]:
skew(df.SP)

1.5814536794423764

In [13]:
kurtosis(df.SP)

2.7235214865269244

In [14]:
skew(df.WT)

-0.6033099322115126

In [15]:
kurtosis(df.WT)

0.8194658792266849