    Null Hypothesis:The mean value of TAT of Laboratory 1,Laboratory 2,Laboratory 3,Laboratory 4 are same.
    Alternate Hypothesis:Atleast one of the mean value of the TAT is different

In [2]:
import pandas as pd 
import numpy as np
from scipy import stats

In [4]:
df=pd.read_csv("LabTAT.csv")
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [5]:
stats.f_oneway(df["Laboratory 1"],df["Laboratory 2"],df["Laboratory 3"],df["Laboratory 4"])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [7]:
pvalue=stats.f_oneway(df["Laboratory 1"],df["Laboratory 2"],df["Laboratory 3"],df["Laboratory 4"])[1]
print("p value is: ",pvalue)

p value is:  2.1156708949992414e-57

p value is almost equal to zero which is less than 0.05 i,e Null hypothesis should be rejected which means the mean values of all the sample are not same.