    Null Hypothesis : male-female buyer rations are similar across regions.
    Alternate Hypothesis : male-female buyer rations are not similar across regions.

In [1]:
import pandas as pd 
from scipy import stats

In [10]:
df=pd.read_csv("BuyerRatio.csv")
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
stats.chi2_contingency([df['East'],df['West'],df['North'],df['South']])

(1.5959455386610577,
 0.6603094907091882,
 3,
 array([[  42.76531299,  442.23468701],
        [ 146.81287862, 1518.18712138],
        [ 131.11756787, 1355.88243213],
        [  72.30424052,  747.69575948]]))

In [11]:
df=df.set_index('Observed Values')
df

                 East  West  North  South
Observed Values
Males              50   142    131     70
Females           435  1523   1356    750

In [12]:
stats.chi2_contingency(df)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [14]:
pvalue=stats.chi2_contingency(df)[1]
print('The p value is: ',pvalue)

The p value is:  0.6603094907091882

P value is greater than 0.05 which implies null hypothesis should be accepted i,e the male-female buyer rations are similar across the regions.